<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>基本列表</title>
    <script type="text/javaScript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <!--<li v-for="person in persons" :key="person.id">
                {{person.name}}-{{person.age}}
            </li> -->

            <li v-for="(person,index) in persons" :key=index>
                {{index}} - {{person.name}}-{{person.age}}
            </li>
        </ul>

        <!-- 遍历对象 -->
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(property,index) of car" :key="index">
                {{index}} - {{property}}
            </li>
        </ul>

        <!-- 遍历字符串 -->
        <h2>字符串信息（用得少）</h2>
        <ul>
            <li v-for="(property,index) in str" :key="index">
                {{index}} - {{property}}
            </li>
        </ul>

        <!-- 遍历指令次数 -->
        <h2>遍历指令次数（用得少）</h2>
        <ul>
            <li v-for="(number,index) in 5" :key="index">
                {{number}} - {{index}}
            </li>
        </ul>

    </div>

    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            data() {
                return {
                    persons: [
                        {
                            id: '001',
                            name: '张三',
                            age: 18
                        },
                        {
                            id: '002',
                            name: '李四',
                            age: 19
                        },
                        {
                            id: '003',
                            name: '王五',
                            age: 20
                        }
                    ],
                    car:{
                        name:'迈巴赫',
                        price:'200W',
                        color:'黑色'
                    },
                    str:'hello'
                }
            },
        })

        vm.$mount('#root')
    </script>
</body>

</html>